<div class="add">
    <ul class="a-ul">
        <li>登录名：<input type="text" ng-model="add.loginname"></li>
        <li>真实姓名：<input type="text" ng-model="add.name"></li>
        <li>角色：<input type="text" ng-model="add.role"></li>
        <li>手机：<input type="text" ng-model="add.telephone"></li>
        <li>邮箱：<input type="text" ng-model="add.email"></li>
        <li>状态：
            <select name="" id="" ng-model="add.state">
                <option value="">启用</option>
                <option value="">禁用</option>
            </select>
        </li>
        <li><button ng-click="addFn()">添加</button></li>
    </ul>
</div>
